.DS_Store
private/
tests/
_random/
_random-team/


module-1/week-2
module-2/
module-3/


module-1/_labs-soluce-proposals/01-lab-css-spotify-clone
module-1/_labs-soluce-proposals/02-lab-basic-algorithms
module-1/_labs-soluce-proposals/03-lab-javascript-functions-and-arrays
module-1/_labs-soluce-proposals/04-lab-javascript-all-times-movies
module-1/_labs-soluce-proposals/05-lab-dom-pizza-builder
module-1/_labs-soluce-proposals/06-lab-javascript-vikings
module-1/_labs-soluce-proposals/07-lab-javascript-chronometer
module-1/_labs-soluce-proposals/08-lab-javascript-memory-game
module-1/_labs-soluce-proposals/09-lab-dom-ironhack-cart
module-1/_labs-soluce-proposals/10-lab-javascript-advanced-algorithms
