{{!-- action represents the ROUTE you wanna target --}}
<form method="post" action="/hackers/create" class="form">
    <label for="name">name</label>
    <input class="input" type="text" id="name" name="name" value="test hacker">
    <label for="email">email</label>
    <input id="email" class="input" type="email" name="email" value="test@hacker.com">
    <label for="favLangage">favorite Langage</label>
    <select class="input" name="favLangage" id="favLangage">
        <option value="js">JS</option>
        <option value="php">PHP</option>
        <option value="python">PYTHON</option>
        <option value="java">JAVA</option>
    </select>
    <label for="isRegistered">is registered ?</label>
    <input id="isRegistered" type="checkbox" name="isRegistered">
    <button class="btn">ok !</button>
</form>