<form method="post" action="/cohorts/create" class="form">
    <input class="input" type="text" name="name" placeholder="cohort name">
    <input class="input" type="text" name="campusLocation" placeholder="campus location">
    <button class="btn">create</button>
</form>
<h1>TODO</h1>
<p>
    Replace input[name=campusLocation] with a select/option listing all available campuses.
</p>