<form method="post" action="/cohorts/edit/:id" class="form">
    <input class="input" type="text" name="name" placeholder="cohort name" value="{{name}}">
    <input class="input" type="text" name="campusLocation" placeholder="campus location" value="{{campusLocation}}">
    <button class="btn">edit</button>
</form>