<h1>{{hacker.name}}</h1>
<p class="{{#if hacker.isRegistered}}is-registered{{/if}}">
    email: <b>{{hacker.email}}</b><br>
    favorite langage :{{hacker.favLangage}}
</p>

<h1>TODO</h1>
<p>
  Display cohort name AND campusLocation here ! 
</p>