<h1>{{title}}</h1>

<input id="search_input" type="text" class="input">

<button id="my_button">ok</button>

<form id="my-fake-form">
    <input type="text" id="new-username">
    <button id="btn-new-user">create</button>
</form>