<h1>Search users</h1>
<input id="search_input" type="text" class="input">
<ul id="search-results"></ul>

<hr>

<div id="my-fake-form">
    <h1>create new user</h1>
    <input type="text" id="new-username" placeholder="new user name">
    <label for="checkbox-is-admin">is admin ?</label>
    <input type="checkbox" id="checkbox-is-admin">
    <button id="btn-new-user">create</button>
</div>

<hr>

<ul id="users-list">
    {{#each users}}
    <li class="item user {{#if isAdmin}}is-admin{{/if}}">
        <span>{{name}}</span>
        <button class="btn delete" data-user-id="{{_id}}">delete</button>
        <button class="btn edit" data-user-id="{{_id}}">edit</button>
    </li>
    {{/each}}
</ul>