<h1>{{hacker.name}}</h1>
<p class="{{#if hacker.isRegistered}}is-registered{{/if}}">
    email: <b>{{hacker.email}}</b><br>
    favorite langage :{{hacker.favLangage}}
</p>


{{!-- {{> hackerDetails hacker}} --}}