body {
  font-family: Arial;
}

#wrap {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px auto 60px;
  min-height: 100vh;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
}

#header {
  background: #BADA55;
  grid-column: 1 / 9;
}
#sidebar {
  background: #1ce;
  grid-column: 1 / 4;
}
#content {
  background: #fb1;
  grid-column: 4 / 9;
}
#footer {
  background: #101;
  color: whitesmoke;
  grid-column: 1 / 9;
}

#header,
#sidebar,
#content,
#footer {
  padding: 20px;
}
