@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

#widget-1 {
  background: #aab0c670;
  padding: 20px;
}
